;; shadow-cljs configuration
{:source-paths
 ["src"
  "src/dev"]

 :dependencies
 [[reagent/reagent "1.2.0"]
  [re-frame/re-frame "1.4.3"]
  [day8.re-frame/http-fx "0.2.4"]]

 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"

   :modules
   {:main ; becomes public/js/main.js
    {:init-fn ulewa.core/init}}}}}
